.footer {
    background: linear-gradient(180deg, #0A2850 0%, #071931 100%);
    box-sizing: border-box;
    padding: 60px 80px;
    background-position: center;
}

.footer__contents {
    display:flex;
    justify-content: space-between;
}

.footer__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.footer__list-item {
    font-family: "Inter", Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
}

.footer__list-item:nth-of-type(2n) {
    padding-top: 16px;
}

.footer__logo {
    width: 105px;
    height: 39px;
    margin: 0;
    padding: 0;
}

.footer__social-heading {
    color: #fff;
    margin: 0 0 20px 0;
    font-family: "Inter", Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
}

.footer__social-link{
    color: #fff;
    text-decoration: none;
    font-family: "Inter", Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    transition: color .3s linear;
}

.footer__social-link:hover {
    color: #C1C1C1;
}

.footer__social-icon {
    width: 16px;
    height: 16px;
    margin-right: 10px;
}

.footer__copyright {
    margin: 108px 0 0;
    color: #fff;
    font-family: "Inter", Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;

}